
body
{
	background-image: url('bg.jpg');
	color:#000305;
	font-size:87.5%;
	font-family:Arial 'lucida Sans unicode';
	line-height:1.5;
	text-align:left;
}
a{
	text-decoration: none;
}
a:link, a:visited {
	color:#CF5C3F;
}
a:hover, a:active {
	background-color:#CF5C3F;
	color:#FFF;
	
}

label{ font-size:25px;
font-weight:bold;
}
.body{
	
	margin:0 auto;
	width:70%;
	clear:both;
}
.mainHeader img{
	width:100% ;/*860px*/
	height: 300px;
	margin: 2% 0;
}
.mainHeader nav{
	background-color:#322C2C;
	height:40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.mainHeader nav ul{
	list-style:none;
	margin:0 auto;
}
.mainHeader nav ul li{
	border-right:1px solid rgb(39, 37, 37);
	float: left;
	display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display:inline-block;
	padding:10px 25px 10px;
	height:20px;		
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color:#CF5C3F;
	text-shadow:none;	
}
.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.post-info{
	font-style:italic;
	color:#999;
	font-size:90%;
}
.maincontent{
	line-height:25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*overflow:hidden;*/
	
}
.content{
	width:70%;
	float:left;
	
}
.topcontent{
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:1% 5%;
	margin-top:3%;
	
}
.bottomcontent{
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:1% 5%;
	margin-top:3%;
}
.top-sidebar{
	width:21%;
	float:left;
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:2% 0 2% 3%;
	padding:2% 3%;
} 
.bottom-sidebar{
	width:21%;
	float:left;
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:2% 3%;
	margin:2% 0 2% 3%;
	}
.middle-sidebar{
	width:21%;
	float:left;
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:2% 3%;
	margin:2% 0 2% 3%;
	
}

.mainFooter{
	width:100%;
	height:40px;
	float:left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#322C2C;
	margin:2% 0;
}
.mainFooter p{
	width:92%;
	margin:10px auto;
	color:#FFF;
}



form{
	width:70%;
	margin:4% 15%;
}  
header{
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-top: -11px;
	margin-bottom: -8px;
	border-radius: 10px 10px 0 0;
} 
input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	font-size:15px;
	cursor:pointer;
}
#submit:hover
{
 background-color: black;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px; 
	margin-bottom: 20px;
	resize:none;
  }
@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body{
		width:90%;
		font-size:95%;
	}
	.mainHeader img{
		width: 100%;
		
	}
	.mainHeader nav{
		height:120px;
		
	}
	
	.mainHeader nav ul{
		padding-left:0;
		
	}
	.mainHeader nav ul li{
		width:100%;
		text-align:center;
	}
	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding:10px, 25px;
		height:20px;
		display:block;
	}
	.content{
		width:100%;
		float:left;
		margin-top:2%;
	
	}
	.post-info{
		display:none;
	}
	.topcontent{
		background-color:#FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding:3% 5%;
		margin-top:2%;
		margin-bottom:2%;
	}
	.bottomcontent{
		margin-top:2%;
	}
	.top-sidebar  {
		width:100%;
		margin:2% 0 2% 0;
		padding:2% 1%;
	} 
	.bottom-sidebar{
		width:100%;
		margin:2% 0 2% 0;
		padding:2% 1%;
	}
	.middle-sidebar{
		width:100%;
		margin:2% 0 2% 0;
		padding:2% 1%;
	}
	
}